/*
	Selector padre
	flex-wrap: hace que los elementos caigan hacia abajo
	flex-shrink: Evita que los elementos se encojan
	justify-content: Alinea elementos en el eje X
	Align-items: Alinea elementos en el eje Y
	flex-direction: posiciona los elementos como filas o columnas

	Selector hijo
	align-self: Alinea el elemento hijo en el eje Y
*/

body {
	font-family: 'Heebo', sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	/*font-style: italic;*/
}

h1 {
	color: white;
	font-size: 30px;
	line-height: 1.5; /*!  Separación entre lineas de texto */
	letter-spacing: -.2; /*!  Separación entre las letras */
	/*text-transform: uppercase; /*! Podemos dar uppercase, lowercase, etc */
	margin: 0;
}

h1 strong {
	color: #db6400;
}

h2 {
	color: #db6400;
	text-transform: uppercase;
	font-family: 'Heebo', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}

.header {
	background-color: #1b2127;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	flex-wrap: wrap; /* Cuando un elemento se queda sin espacio en su contenedor cae hacia abajo */
}

.header a {
	color: white;
	text-decoration: none;
	height: inherit; /* .header a hereda de .header ol li */
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.header ol { /* .header ol hereda de .menu */
	display: flex;
	height: inherit;
}

.header ol li { /* .header ol li hereda de .header ol */
  height: inherit;
}

.logo img {
	height: 70px;
	width: 80px;
}

.menu { /* .menu hereda de .header */
	height: inherit;
}

.hero {
	height: 300px;
	/*background-image: url('https://i.imgur.com/E74Wabo.jpg');*/
	background-color: #1b2127;
	/* background-size: 500px 300px; Ancho y Alto*/
	/*background-repeat: no-repeat; Evita que la imagen se duplique cuando tiene todo el espacio*/
	/*background-position-x: right;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__img {
	height: 300px;
	width: 500px;
}

.portfolio {
	background-color: #fafafa;
	padding: 20px;
}

.project {
	/*border-width: 15px;*/
	/*border-style: solid;*/
	/*border-color: red;*/
	/*Resumido es esto*/
	background-color: white;
	border: 1px solid gray; /* tamaño tipo estilo */
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	padding: 20px;
	flex-wrap: wrap;
}

.project strong {
	font-family: 'Inter', sans-serif;
}

.project__details {
	width: 50%;
}

.project__title {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

.project__course, 
.project__date,
.project__URL {
	margin: 10px 0;
}

.project__description {
	font-size: 20px;
}

.project-imageContainer {
	width: 50%;
}

.project-imageContainer img {
	width: 100%;
}

.footer {
	background-color: #1d2127;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer img {
	vertical-align: middle;
}

.footer a {
	color: white;
}

.experience {
	display: flex;
	flex-wrap: wrap;
}

.event__list-title {
	margin-left: 20px;
}

.event {
	background-color: #f4fbff;
	border-radius: 10px;
	flex-shrink: 0;
	margin: 1%;
	width: 48%;
	overflow: hidden; /* Evita que la imagen se desborde de su contenedor*/
}

.event img {
	width: 480px;
	height: 200px;
	/*object-fit: cover; Hace que la imagen se vaya recortando hacia el centro */
}

.event__details {
	background-color: white;
	margin: 20px 40px;
	margin-top: -40px;
	padding: 20px;
	position: relative;
	text-align: center;
}

.event__description {
	text-align: left;
}

.event__url {
	border: 1px solid #056fff;
	padding: 5px 20px;
	text-decoration: none;
	color: #056fff;
	border-radius: 5px;
}

.contact {
	background-color: #056fff;
	color: white;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	flex-wrap: wrap;
}

.social {
	padding-top: 2em;
}

.social__link {
	display: inline-block; /*Las etiquetas anchor por defecto son inline*/
	height: 50px;
	width: 50px;
	font-size: 50px;
	overflow: hidden;
	margin: 0 10px;
	color: white;
	text-decoration: none;
}

.form__email input {
	border-color: gray;
	border-radius: 5px;
	border-style: solid;
	padding: 10px 20px 10px 27px;
	background-image: url('https://i.imgur.com/G3ebagX.png');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: center;
}

.form__email button {
	display: block;
	margin-top: 10px;
	background: transparent;
	color: white;
	padding: 5px 0;
	border-radius: 5px;
	width: 100px;
	margin: 10px auto 0;
	border: 1px solid white;
}

.form__email h3 {
	font-family: 'Heebo', sans-serif;
 }

.wrapper {
	max-width: 1000px;
	flex: 1; /* Hace que en el wrapper tome todo el ancho disponible*/
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

/* Videos que inserto yo es manipulable de esta forma */
.video__html {
	width: 100%;
	height: auto;
}

/* Videos que inserto desde otra pagina necesita otras propiedades */
.youtube-video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.flexible-video {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	position: relative;
}

.burger-button {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .7);
	display: none; /* Nos oculta el elemento */
	line-height: 40px; /* Debe ser igual al alto estipulado */
	text-align: center;
	position: fixed;
	z-index: 3;
	top: 5px;
	left: 5px;
	color: white; /* Designa el color del icono (recuerda no deja de ser una fuente) */
	/* font-size: 25px; Designa el tamaño del icono (recuerda no deja de ser una fuente) */
}

/* desktop first empieza por el MQ mas grande */

/* Pc */
@media screen and (max-width: 1023px) {

	.event__list-title {
		margin-left: 0;
	}

	.portfolio {
		padding: 0;
	}

	.wrapper {
		padding: 0 1em;
	}

	h1 {
		font-size: 2em;
		z-index: 2;
	}
	
	.hero {
		height: auto;
		position: relative;
		overflow: hidden; /* Evita que el elemento se desborde de su padre */
		padding: 2em;
	}

	.hero__img {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}
}

/* Tablet */
@media screen and (max-width: 767px) {

	h2 {
		font-size: 1.2em;
		margin: 1em 1.8em;
	}

	.burger-button {
		display: block;
		z-index: 4;
	}

	.header {
		display: block;
		height: auto;
	}
	.header ol {
		display: block;
	}

	.header ol li {
		height: 50px;
	}

	.header a {
		justify-content: center;
		height: 40px;
		font-size: 2em;
		text-decoration: underline;
		margin-bottom: .5em;
	}

	.header .logo {
		text-align: center;
	}

	.menu {
		position: fixed;
		background-color: rgba(255, 67, 1, 0.9);
		z-index: 3;
		top: 0;
		left: -100vw; /* Estaba en 0, lo pusimos en -100vw para que se desplace y se oculte */
		width: 100vw; /* 100% */
		/* height: 100vh; /* 100% */ 
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s; /* Animación */
	}

	.menu.is-active {
		left: 0;
	}

	.project {
		display: block;
	}

	.project-imageContainer {
		width: auto;
		text-align: center;
	}

	.project-imageContainer img {
		max-width: 100%;
		width: 100%;
	}

	.project__details {
		width: auto;
	}

	.project__title {
		font-size: 1.5em;
		margin-bottom: .3em;
	}
	.project__URL {
		font-size: 1em;
	}
	.project__course {
		font-size: .7em;
	}
	.project__date {
		font-size: 1em;
	}
	.project__description {
		font-size: 1em;
	}

	.project__course, 
	.project__date, 
	.project__URL {
		margin: .4em 0;
	}

	.event {
		width: auto;
		flex-shrink: initial;
	}
	
	.event img {
		width: 100%;
	}

}

/* Mobile */
@media screen and (max-width: 480px) {
	h1 {
		font-size: 1.5em;
	}
	
	.project__details {
		font-size: 14px;
	}

	.event__details {
		/* 1em de momento es igual a 16px */
		margin: -2em .5em .5em;
		padding: 1em;
	}

	.contact {
		height: auto;
		padding: 1em 0;
		display: block;
		text-align: center;
	}

	.form__email button {
		margin: 2em auto;
	}

	.form__email h3 {
		margin: 0.5em 0;
	}

	.footer {
		display: block;
		text-align: center;
		border: 1px solid transparent;
	}

}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 1.2em;
	}

	.hero {
		padding: 2em;
	}
}